*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    background: hsl(210, 46%, 95%);
}
.main{
    max-width: 1440px;
    height: 736px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container{
    height: 300px;
    width: 850px;
    display: flex;
}
.img-etagere{
    height:300px;
    flex-grow: 1;
    background:url(images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

}
.texte{
    height: 300px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 545px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: white;
    position: relative;
}
.paragraph{
    height: 75px;
    padding-left: 40px;
}
.profile{
    height: 105px;
    padding-left: 40px;
}
.title{
    height: 120px;
    display: flex;
    align-items: center;
    padding-left: 40px;
}
.title h1{
    width: 439px;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    font-size: 24px;
}
.txt-explain{
    width: 439px;
    font-size: 16.7px;
    color: hsl(214, 17%, 51%);
}
.profile{
    display: flex;
    align-items: center;
}
.data{
    margin-left: 20px;
    color: hsl(212, 23%, 69%);
}
.data h2{
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}
.avatar{
    width: 10%;
    border-radius: 50%;
}
.div-share-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background: hsl(210, 46%, 95%);
    margin-left: 180px;
    cursor: pointer;
    z-index: 999;
}
.share-btn{
    fill:white;
}
.sharing{
    background: hsl(217, 19%, 35%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 15px;
    border-radius: 6px;
    position: absolute;
    margin-left: 314px;
    margin-top: -55px;
}
.sharing p {
    width: 110px;
    color: hsl(212, 23%, 69%);
    letter-spacing: 3px;
    flex-grow: 1;
    text-align: center;
}
.sharing:after{
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    width: 0;
    height: 0;
    border-top: solid 20px hsl(217, 19%, 35%);
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;

}
.icons{
    flex-grow: 1;
    width: 110px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sharing a{
    display: flex;
}

/* MEDIA QUERIES */

@media only screen and (max-width:1000px){
    .container{
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .img-etagere{
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius:0px;
    }
    .texte{
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }
    .title{
        padding-top: 20px;
        padding-right: 40px;
        width: auto;
    }
    .paragraph{
        padding-right: 40px;
        width: auto;
        padding-top: 10px;
    }
    .sharing{
        width:545px;
        height: 75px;
        padding: 0px;
        margin-left: -40px;
        margin-top: 25px;
        font-size: 16px;
        justify-content: initial;
    }
    .sharing p{
        flex-grow: initial;
        padding-left: 40px;
        text-align: initial;
    }
    .div-share-btn{
        float: right;
        margin-top: 25px;
        margin-left: auto;
        margin-right: 40px;
    }
    .icons{
        flex-grow: initial;
        width: 300px;
    }
    .sharing:after{
        display: none;
    }
}

@media only screen and (max-width: 565px){
    .container{
        width: 80%;
    }
    .title{
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
    }
    .title h1{
        font-size: 20px;
    }
    .paragraph{
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
    }
    .txt-explain{
        font-size: 14px;
        width: auto;
    }
    .data{
        width:auto
    }
    .profile{
        padding-left: 15px;
    }
    .profile h2{
        font-size: 16px;
    }
    .div-share-btn{
        margin-right: 15px;
    }
    .sharing{
        width: 80%;
        margin-left: -15px;
    }
    .icons{
        width: 200px;
    }

}

@media only screen and (max-width: 405px){
    .container{
        max-width: 350px;
    }
    .title{
        padding-top: 10px;
        height: auto;
    }
    .title h1{
        font-size: 16px;
    }
    .paragraph{
        height: auto;
    }
    .texte{
        height: auto;
    }
    .avatar{
        flex-grow: 0.3;
    }
    .data h2{
        font-size: 14px;
        flex-grow: 0.3;
    }
    .icons{
        max-width: 100px;
    }
}